.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.sbutton {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.lbutton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.left {
  border: .2px solid black
}

.right {
  border: .2px solid black;
  
}

.canvas {
  padding: 50px;
  border: .2px solid black;
}

.frame {
  align-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: .2px solid black;
}

.dropdown{
  display: flex;
}

.colour {
  margin-left: 5px;
  cursor: pointer;
  border-radius: 2.5px;
  z-index: 0;
}

.framePick {
  position: relative;
  top: 24.5px;
  right: -24.5px;
  border-radius: 10px;
  z-index: 1;
  margin-right: none;
  text-align: center;
  font-size: 10px;
}

.colour:hover {
  opacity: 0.7;
}

.frameSpan {
  top: 34.5px;
  right: -5px;
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
}
