@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* PAGE */

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: aliceblue;
}

/* /////////  HEADER  ////////// */
 .header { 
  /* grid-row: 1; */
  padding: 20px;

 
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 4em;
 
}

.nav {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;

}
 
/* /////// FOOTER ///////// */

.footer {
  grid-row: 3;
  padding: 30px;
  text-align: center;
}

/* CONTENT */

.content {
  grid-row: 2;
  width: 100%;
}

/* ////// WHITE FLOATING SHEET //////  */

.sheet {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 110vh;
  box-shadow: 4px 4px 2.5px 0px rgba(0,0,0,0.4); 
  width: 80%;
}

.sheet-content {
  padding: 5% 3% 5% 3%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (orientation: landscape) {
  .sheet-content {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

/* //////  colLeft is canvas AND BUTTONS//////  */

.colLeft{
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

#drawCanvas {
}

/* //// buttons under canvas ////// */

.controls {
  display: flex;
  justify-content: center;
}


/* //////  CANVAS RIGHT TOOLBAR //////  */

.colRight{
  flex: 1;
}

/* /////////// TOOLBAR ////////////// */

.Tools {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/*///////// COLOURS ////////// */

.colours {
  flex: 50%;
  display:flex;
  justify-content: center;
  flex-direction: column;

}

.dropdown{
  display: flex;
  justify-content: center;
}

.colour {
  margin-left: 5px;
  cursor: pointer;
  border-radius: 2.5px;
  z-index: 0;
}

.colour:hover {
  opacity: 0.7;
}

.framePick {
  position: relative;
  top: 24.5px;
  right: -24.5px;
  border-radius: 10px;
  z-index: 1;
  margin-right: none;
  text-align: center;
  font-size: 10px;
}


.frameSpan {
  top: 34.5px;
  right: -5px;
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid lightgrey;
}


h4 {
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 10px;
 }


 
/* FRAMES */

.frames-pen {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.frame {
  cursor: pointer;
  width: 84px;
  height: 60px;
  border: .2px solid lightgrey;
  margin-bottom: 20px;
}

.frames {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.pens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


button {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
}


.sbutton {
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-bottom: 3px;

}
.mbutton {
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-bottom: 3px;
}
.lbutton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 2px;
}

 a {
   color: black;
 }

