.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.left {
  border: .2px solid black
}

.right {
  border: .2px solid black
}
.canvas {
  padding: 50px;
  border: .2px solid black;
}
